<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src='static/js/index.js'></script>
</head>
<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '624551272065201',
            cookie     : true,
            xfbml      : true,
            version    : 'v12.0'
        });

        FB.AppEvents.logPageView();
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v12.0&appId=624551272065201&autoLogAppEvents=1" nonce="PUcnvDQP"></script>
<div id="signInDiv"><button name="signIn"></button> </div>
<img src="../static/logo.svg" alt="logo">
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
</body>
</html>